.bestseller {
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    text-decoration: none;
    color: black;
  }

  .inner {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 10px;
    width: 1240px;
    box-sizing: border-box;

    h2 {
      display: block;
      margin-top: 20px;
      margin-bottom: 70px;
      font-size: 26px;
      font-weight: 700;
      text-align: center;
    }

    .tabs {
      display: flex;
      align-items: center;
      justify-content: center;

      .tab {
        width: 200px;
        border: none;
        background-color: transparent;
        font-size: 15px;
        font-weight: 700;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 10px;
        box-sizing: border-box;
        cursor: pointer;
        transition: border-bottom-color 0.3s ease;

        &:hover {
          border-bottom-color: black;
        }
      }

      .active {
        border-bottom: 2px solid black;
      }
    }

    .tab-container {
      .tabPane {
        display: flex;
        padding-top: 50px;
        padding-bottom: 50px;
        padding-right: 10px;
        width: 1240px;
        box-sizing: border-box;
        gap: 20px;
      }

      .product {
        cursor: pointer;
        display: flex;
        gap: 20px;
        // animation: fade-in 1s ease;

        .image {
          img {
            width: 230px;
            height: 230px;
          }
        }

        .title {
          padding: 10px 0px 0px 0px;
          font-size: 12px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 230px;
        }

        .price {
          margin: 10px 0px 4px;
          font-size: 14px;
          text-decoration: none;
        }
      }
    }
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
