// WHITE-TONES
$color-primary: #fff;
$color-sub: #f7f7f7;
$color-mypage-background: #f6f6f6;
$color-white-F9: #f9f9f9;
$color-white-F6: #f6f6f6;
$color-white-ed: #ededed;
//BLACK-TONES
$color-black-0: #000;
$color-black-2: #222;
$color-black-8: #888;
$color-black-5: #555;
$color-black-7: #777;
$color-black-6: #666;
$color-black-86: #868686;
$color-black-6D: #6d6d6d;
$color-black-D9: #d9d9d9;
$color-carttext: #2e2e2e;
$color-loginlink: #262626;
$color-border: #e5e5e5;
$color-link: #7d7d7d;
$color-gray-E1: #e1e1e1; //PAYMENT BORDER
$color-gray-D7: #d7d5d5;
$color-gray-ED: #ededed;
$color-gray-EA: #eaeaea;
$color-gray-F8: #f8f9fa;
$color-gray-EB: #ebebeb;
$color-gray-FA: #fafafd;
$color-gray-A7: #a7a7a7;
$color-boundary: #f1f1f1;
$color-payment-titles: #333d4b;
$color-steps: #939393;
$color-home: #7d7d7d;
$color-tab: #e5e5e5;
$color-gray-BC: #bcbcbc;

//COLOURED
$color-now: #f94724;
$color-error: #ec2a1d;
$color-subvisual-yellow: #fce8ad;
$color-subvisual-blue: #e6f9ff;
$color-subvisual-gray: #dddbdc;
$color-price: #008bcc;
$color-possible: #0985df;
$color-confirm: #3971ff;
$color-sum: #f4f7ff;

//PRODUCTS-COLOURS
$color-item-red: #cc0c0c;
$color-item-orange: #ff5a00;
$color-item-yellow: #f49f00;
$color-item-green: #007543;
$color-item-blue: #0000fd;
$color-item-pink: #fec0cb;
$color-item-whtie: #fefefe;

// ADMIN-COLORS
$color-admin-primary: #0b63f8;
$color-admin-main: #f8f8f8;
$color-admin-border: #f2f2f2;
$color-admin-soldout: #ec2a1d;
$color-admin-sale: #12b100;
$color-admin-back: #302867;
