@import 'src/styles/abstracts/variables';

.zonecode {
  width: 20% !important;
}
.address {
  border: 1px solid $color-admin-sale !important;
}
.empty {
  border: 1px solid $color-admin-primary !important;
}
