@import 'src/styles/abstracts/variables';
.container {
  background-color: $color-primary;
  padding: 32px;
  width: 900px;
  box-sizing: border-box;

  h3 {
    font-weight: 600;
    padding-bottom: 19px;
    color: $color-payment-titles;
    font-size: 19px;
    letter-spacing: -1px;
  }
  label {
    display: flex;
    margin: 10px;

    span {
      width: 100px;
      font-size: 14px;
      padding: 10px 0 10px 10px;
    }
    input {
      display: block;
      height: 32px;
      border: 1px solid $color-gray-E1;
      width: 80%;
      padding-left: 10px;

      &:focus {
        outline: none;
      }
    }
    .valid {
      border: 1px solid $color-admin-sale;
    }
    .invalid {
      border: 1px solid $color-admin-primary;
    }
  }
}
