@import 'src/styles/common.scss';

form.form-wrapper {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 40px;

  label {
    color: $color-black-5;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  input {
    box-sizing: border-box;
    margin-left: 2px;
    display: inline-block;
    max-width: 620px;
    height: 40px;

    &::-webkit-inner-spin-button {
      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;
    }

    &[type='number'] {
      width: 300px;
    }

    &[type='file'] {
      display: none;

      + button {
        @include size(120px, 30px);
      }
    }
  }

  textarea {
    @include inputBox;
    box-sizing: border-box;
    max-width: 620px;
    height: 100px;
    padding: 10px;
  }

  button {
    @include size(80px, 40px);
  }
}

.input-row {
  display: flex;
  align-items: start;
  gap: 20px;
}

.thumbnail,
.detail {
  width: 300px;
  height: 0px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 2px;

  &.show {
    height: 300px;
  }
}
