@import 'src/styles/common.scss';

.admin {
  min-height: 100vh;
  height: 100%;
  display: flex;
  background-color: $color-admin-main;
  color: $color-black-0;

  nav {
    min-width: 240px;
    min-height: 100%;
    padding-top: 50px;
    background-color: $color-primary;
    position: relative;

    h1 {
      color: $color-admin-primary;
      font-size: 24px;
      font-weight: 700;
      padding-left: 20px;
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 30px;
      margin-top: 50px;

      li {
        display: flex;
        align-items: center;
        width: 100%;
        height: 40px;
        border-left: 3px solid $color-primary;

        a {
          padding-left: 36px;
          text-decoration: none;
          color: $color-black-2;
          font-size: 16px;
        }

        &.active {
          border-left: 3px solid $color-admin-primary;

          a {
            color: $color-admin-primary;
          }
        }

        &.home {
          a {
            color: $color-admin-primary;
            font-weight: 500;
          }

          position: absolute;
          bottom: 100px;
        }
      }
    }
  }
}

// Admin Loading
.loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;

  .loading__overlay {
    background-color: rgba($color-black-2, 0.4);
    width: 100%;
    height: 100%;
  }

  .loading__message {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: #fff;

    span {
      color: #56f0ed;
      font-size: 40px;
    }
    p {
      font-weight: 700;
      font-size: 24px;
    }

    @keyframes loading-anim-1 {
      0% {
        top: 18px;
        height: 64px;
      }
      50% {
        top: 30px;
        height: 40px;
      }
      100% {
        top: 30px;
        height: 40px;
      }
    }
    @keyframes loading-anim-2 {
      0% {
        top: 22px;
        height: 58px;
      }
      50% {
        top: 30px;
        height: 40px;
      }
      100% {
        top: 30px;
        height: 40px;
      }
    }
    @keyframes loading-anim-3 {
      0% {
        top: 24px;
        height: 52px;
      }
      50% {
        top: 30px;
        height: 40px;
      }
      100% {
        top: 30px;
        height: 40px;
      }
    }
    .loading__icon div {
      position: absolute;
      width: 10px;
    }

    .loading__icon div:nth-child(1) {
      left: 10px;
      background: #1d3f72;
      animation: loading-anim-1 1s cubic-bezier(0, 0.5, 0.5, 1) infinite;
      animation-delay: -0.2s;
    }

    .loading__icon div:nth-child(2) {
      left: 30px;
      background: #5699d2;
      animation: loading-anim-2 1s cubic-bezier(0, 0.5, 0.5, 1) infinite;
      animation-delay: -0.1s;
    }
    .loading__icon div:nth-child(3) {
      left: 50px;
      background: #d8ebf9;
      animation: loading-anim-3 1s cubic-bezier(0, 0.5, 0.5, 1) infinite;
      animation-delay: undefineds;
    }

    .loading__icon-container {
      width: 70px;
      height: 80px;
      display: inline-block;
      overflow: hidden;
    }

    .loading__icon {
      width: 100%;
      height: 100%;
      position: relative;
      transform: translateZ(0) scale(1);
      backface-visibility: hidden;
      transform-origin: 0 0; /* see note above */
    }

    .loading__icon div {
      box-sizing: content-box;
    }
  }
}
