@import 'src/styles/common.scss';
@import 'src/styles/abstracts/variables.scss';

.container {
  width: 1040px;
  height:400px;
  padding-bottom: 200px;
  display:flex;
  justify-content:center;
  align-items:center;
  form{
    border-top:1px solid $color-black-0;
    border-bottom:1px solid $color-black-0;
    text-align:center;
    padding:100px;
    margin-top:300px;
    h2{
      font-size:30px;
      margin-bottom:50px;
      font-weight:bold;
    }
    .box{
      display:flex;
      justify-content: center;
      width:500px;
      height:60px;
      border:1px solid $color-black-0;
      box-sizing: border-box;
      margin:15px 0;
      .content{
        width:150px;
        line-height:60px;
        color:$color-primary;
        background-color: $color-black-0;
        display:flex;
        justify-content: center;
        align-items: center;
        font-size:14px;
      }
      .inputBox{
        width:350px;
        line-height:60px;
        display:flex;
        justify-content: center;
        align-items: center;
        input{
          width:260px;
          height:25px;
          outline:none;
          padding-left:15px;
          font-size:20px;
        }
      }
    }
    button{
      width:140px;
      height:50px;
      font-size:16px;
      margin:30px auto 0;
      cursor: pointer;
    }
  }
}