@import 'abstracts/mixins';
@import 'abstracts/variables';

button {
  display: block;
}

.inputBlur {
  border: none;
  background-color: #edeff2;
}
.inputFocus {
  border: 1px solid #d0d4d9;
  outline: none;
}

.black {
  background-color: $color-black-0;
  border: 1px solid $color-black-0;
  color: $color-primary;
  &.buy {
    @include size(580px, 50px);
  }
  &.loadMore {
    @include size(300px, 550x);
  }
  &.login {
    @include size(420px, 50px);
  }
  &.next {
    @include size(135px, 40px);
  }
  &.add {
    @include size(100px, 40px);
  }
  &:disabled {
    border-color: $color-black-D9;
    background-color: $color-black-D9;
  }
}

.white {
  background-color: $color-primary;
  border: 1px solid $color-gray-BC;
  color: $color-black-0;
  //장바구니와 위시리스트가 텍스트 제외 스타일이 같아서 우선 이렇게 명명해뒀습니다
  &.toLIst {
    @include size(285px, 50px);
  }
  &.cancel {
    @include size(135px, 40px);
  }
  &.loadMore {
    @include size(300px, 550x);
  }

  &:disabled {
    border-color: $color-black-D9;
    background-color: $color-black-D9;
  }
}

// Admin에서 사용하는 common styles
.admin-title {
  color: $color-black-0;
  font-size: 24px;
  font-weight: 500;
}

.admin-content-wrapper {
  min-width: 1000px;
  width: 100%;
  position: relative;
  padding: 40px 50px;
  flex-grow: 1;
  background-color: $color-admin-main;

  input {
    @include inputBox;
  }
}

.pagination-wrapper {
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  ul {
    list-style: none;
    padding: 0;
  }

  ul.pagination li {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid $color-black-D9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
  }
  ul.pagination li:first-child {
    border-radius: 5px 0 0 5px;
  }
  ul.pagination li:last-child {
    border-radius: 0 5px 5px 0;
  }
  ul.pagination li a {
    text-decoration: none;
    color: $color-admin-primary;
    font-size: 1rem;
  }
  ul.pagination li.active a {
    color: $color-primary;
  }
  ul.pagination li.active {
    background-color: $color-admin-primary;
  }
  ul.pagination li a:hover,
  ul.pagination li a.active {
    color: $color-item-blue;
  }
}

.mypage-pagination {
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }
  ul {
    list-style: none;
    padding: 0;
  }

  ul.pagination li {
    display: inline-block;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 40px;

    &:first-child,
    &:nth-child(2),
    &:nth-last-child(2),
    &:last-child {
      font-size: 16px;
      font-weight: 500;
      line-height: 40px;
    }
  }
  ul.pagination li a {
    text-decoration: none;
    color: $color-black-0;
  }
  ul.pagination li.active a {
    color: $color-black-0;
  }
  ul.pagination li.active {
    border: 1px solid $color-black-0;
  }
  ul.pagination li a:hover,
  ul.pagination li a.active {
    color: $color-black-0;
    font-weight: 500;
  }
}
