.product-container.view {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  margin: 60px 351.5px 150px 351.5px;
}
  
  .product-container .product-list {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    background-color: #fff;
  }

  .product-container .product-list .price {
    font-size: 16px;
    color: #888888;
  }
  
  .product-container .product-list img {
    width: 200px;
    height: auto;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    object-fit: cover;
    transition: all 0.2s linear;
  }

  .product-container .product-list img:hover {
    transform: scale(1.1);
  }

  
  .product-container .product-list .product-card {
    border: 1px solid #000000;
    padding: 10px;
    text-align: center;
    width: 200px;
    background-color: #fff;
    cursor: pointer;
    box-shadow: 10px 8px 5px #a9a9a9c6;
  }
  
  .product-container .default-thumbnail {
    width: 200px;
    height: 200px;
    object-fit: cover;
    opacity: 0.5;
  }
  
  .product-container .product-title {
    font-size: 18px;
    margin-bottom: 10px;
  }