/*  */
  
  .product-container .product-list {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    background-color: #fff;
  }

  .product-container .product-list .price {
    font-size: 16px;
    color: #888888;
  }
  
  .product-container .product-list img {
    width: 200px;
    height: auto;
    margin-bottom: 10px;
    border-radius: 5px;
    object-fit: cover;
  }
  
  .product-container .product-card {
    border: 1px solid #000000;
    padding: 10px;
    text-align: center;
    width: 200px;
    background-color: #fff;
    cursor: pointer;
  }
  
  .product-container .default-thumbnail {
    width: 200px;
    height: 200px;
    object-fit: cover;
    opacity: 0.5;
  }
  
  .product-container .product-title {
    font-size: 18px;
    margin-bottom: 10px;
  }