.section {
    padding: 0 100px;
    width: 1300px;
    height: 540px;
    display: flex;
  }
  
  .section__container {
    margin: 60px 0;
    width: 1300px;
    height: 540px;
    display: flex;
  }
  
  .section__productDetail {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }
  
  .side__productDetail--container {
    width: 500px;
    height: 520px;
    display: flex;
    flex-direction: column;
  }
  
  .side__productDetail--image-container {
    width: 540px;
    height: 540px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    overflow: hidden;
  }
  
  .section__productDetail--img {
    width: 540px;
    height: 540px;
  }
  
  .side__productDetail-menu {
    box-sizing: border-box;
    margin: 10px 0;
    display: flex;
    flex-direction: column;

  }
  
  .side__productDetail--info-title {
    margin-bottom: 27px;
    font-size: 25px;
    font-weight: 900;
  }
  
  .side__productDetail--info-price {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
  }
  
  .side__productDetail--tags {
    margin-top: 16px;
    flex-wrap: wrap;
    display: flex;
    gap: 5px;
  }

  .first-tag {
    color: red; 
  }

  .side__productDetail--tag {
    border: 1px solid;
    padding: 3px;
    border-radius: 7px;
  }

  .side__productDetail--amountCal {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
  }

  .side__totalPrice {
    display: flex;
    flex-wrap: wrap;
    margin-top: 23px;
    gap: 30px;
  }
  
  .side__payment {
    margin-top: 17px;
    background-color: #fff;
    border: 1px solid;
    border-radius: 10px;
    width: 300px;
    height: 50px;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 5px;
    cursor: pointer;
  }

  .side__payment:hover {
    background-color: #81f781;
    border: 1px solid #81f781;
    color: #fff;
  }