.wrapper {
  display: flex;
  flex-direction: column;
  min-width: 1040px;
  max-width: 1240px;
  min-height: 700px;
  padding: 0 50px 200px;
  padding-bottom: 200px;
  margin: 0 auto;
}
.container {
}
