@import 'src/styles/abstracts/variables';

.itemBox{
  //border:1px solid red;
  display:flex;
  padding-top:30px;
  border-bottom:1px solid $color-gray-A7;
  input{
    -webkit-appearance: none;
    width:15px;
    height:15px;
    border:1px solid $color-black-0;
    margin-right:20px;
    cursor: pointer;
    &::after{
      border: solid #fff;
      border-width: 0 2px 2px 0;
      content: "";
      display: none;
      height: 40%;
      left: 40%;
      position: relative;
      top: 20%;
      transform: rotate(45deg);
      width: 15%;
    }
    &:checked{
      background-color: $color-black-0;
    }
    &:checked::after{
      display:block;
    }
  }
  .thumbnail{
    width:90px;
    height:90px;
    margin-right:20px;
    cursor: pointer;
  }
  .productInfo{
    flex-grow:5;
    height:150px;
    .name{
      font-size:13px;
      padding-bottom:10px;
      cursor: pointer;
      text-decoration: underline;
    }
    .price{
      font-size:13px;
      padding-bottom:10px;
    }
    .amount{
      display:flex;
      text-align: center;
      line-height: 30px;
      padding-top:12px;
      .down{
        width:30px;
        height:30px;
        cursor:pointer;
        border:1px solid $color-tab;
      }
      .number{
        width:45px;
        height:30px;
        border:1px solid $color-tab;
      }
      .up{
        width:30px;
        height:30px;
        cursor: pointer;
        border:1px solid $color-tab;
      }
    }
  }
  .sumPrice{
    flex-grow:1;
    text-align:center;
    padding-top:5px;
    font-weight:bold;
  }
  .delete{
    cursor:pointer;
  }
}
