@import 'src/styles/common.scss';
.container {
  display: flex;
  .wrapper {
    flex-grow: 1;
    border-top: 1px solid $color-black-0;
    margin-bottom: 50px;

    .heading {
      position: relative;
      font-size: 13px;
      padding: 20px 0;
      font-weight: bold;
      line-height: 1.3;
    }
    .selected {
      padding-left: 15px;
      line-height: 55px;
      background-color: $color-mypage-background;
      font-size: 13px;
    }
    .summary {
      background-color: $color-mypage-background;
      font-size: 13px;
      padding: 25px 20px;
      line-height: 20px;
      margin: 40px 0;
      border-bottom: 1px solid $color-tab;
      h5 {
        margin: 0 0 10px;
      }
    }
    .pseudo {
      padding: 10px 20px;
      height: 32px;
      font-size: 12px;
      box-sizing: border-box;
      border: 1px solid $color-gray-BC;
      cursor: pointer;
      text-decoration: none;
      vertical-align: middle;
      word-spacing: -0.5px;
      &:hover {
        border: 1px solid $color-black-0;
      }
      input {
        display: none;
      }
    }
  }
}
