h2 {
  font-weight: bold;
  margin: 10px 0;
}

.payment-contents {
    width: 50%;
    margin: 0 auto;
    margin-top: 60px;
  }
  
  .title-box {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .product-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
  }
  
  .product-table th,
  .product-table td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
    vertical-align: middle;
  }

  .product-table th {
    background-color: #f0f0f0;
  }
  
  .product-image img {
    max-width: 150px;
    height: auto;
  }
  
  .product-details {
    display: flex;
    align-items: center;
    justify-content: start;
    box-sizing: border-box;
    width: 671px;
  }
  .product-info--price,
  .product-info--amount,
  .product-info--total {
    width: 73px;
  }

  .product-details .product-title {
    display: flex;
    justify-content: center;
    width: inherit;
  }
  
  .recipient-info {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
  }
  
  .recipient-info th,
  .recipient-info td {
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  .recipient-info th {
    background-color: #f0f0f0;
  }
  
  .recipient-info .search_address {
    margin-left: 10px;
    height: 29px;
  }
  
  .recipient-info tr:nth-child(2) td {
    height: 40px;
  }
  
  .delivery-requests {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
  }
  
  .delivery-requests th,
  .delivery-requests td {
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  .delivery-requests th {
    background-color: #f0f0f0;
  }
  
  .delivery-requests select {
    width: 100%;
    padding: 5px;
  }
  
  .recipient-info .address {
    box-sizing: border-box;
  }
  
  .recipient_name,
  .contact_number {
    width: 20%;
    padding: 5px;
    box-sizing: border-box;
  }
  
  .modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .modal {
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
  }
  
  .address-wrapper {
    display: flex;
    align-items: center;
  }
  
  .address {
    flex-grow: 1;
    margin-right: 10px;
    padding: 5px;
  }
  
  .detail_address {
    margin-top: 10px;
    width: 50%;
    box-sizing: border-box;
    padding: 5px;
  }

  .direct {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
  }
  
  .slick-slide div {
    background-color: #c0c0c0;
    text-align: center;
  }

  .payment-method--container h2 {
    text-align: center;
    line-height: 3;
    font-weight: bold;
  }
  
  .payment-method {
    margin: 0 auto;
    width: 283px;
    height: auto;
  }

  .slick-slide .account-balace {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    font-weight: bold;
  }

  .payment__change--info {
    text-align: center;
    margin-top: 40px;
    color: #a9a9a9;
    font-weight: bold;
  }

  .paymnet__confirm--link {
    display: flex;
    justify-content: center;
    margin: 50px 0;
  }

  .paymnet__confirm {
    background-color: #fff;
    border: 1px solid;
    border-radius: 10px;
    width: 300px;
    height: 50px;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 5px;
    cursor: pointer;
  }

  .paymnet__confirm:hover {
    background-color: #81f781;
    border: 1px solid #81f781;
    color: #fff;
  }

  .payment__add-link {
    display: flex;
    justify-content: center;
  }

  .payment__add-btn {
    background-color: #fff;
    border: 1px solid;
    border-radius: 10px;
    width: 300px;
    height: 50px;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 5px;
    cursor: pointer;
  }

  .payment__add-btn:hover {
    background-color: #81f781;
    border: 1px solid #81f781;
    color: #fff;
  }
  .paymnet__confirm.disabled:hover {
    /* 비활성화 상태인 창에 마우스 over를 해도 여전히 비활성화 되게  */
    background-color: #e02020;
    cursor: not-allowed;
    border: 1px solid;
  } 

  .slick-slider.slick-initialized  .slick-arrow.slick-prev,
  .slick-slider.slick-initialized  .slick-arrow.slick-next {
    top: 40%;
  }
  .slick-slider.slick-initialized  .slick-arrow.slick-prev::before,
  .slick-slider.slick-initialized  .slick-arrow.slick-next::before {
    color: black;
  }